.input {
  text-align: start;
  height: 52px;
  padding: 16px 12px;
  flex-grow: 1;
  border: none;
  border-radius: $border-radius;
}

.input::placeholder {
  color: $input-placeholder;
}

.input:focus {
  border: 1px solid $input-border-focus;
}

.input:disabled {
  background-color: $input-bg-disabled;
  border-color: $input-border-disabled;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 100%;
  background-color: $input-bg;
  color: $input-text;
  border: 1px solid $input-border;
  height: 52px;
}
