@mixin flex-center($gap: 0) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

@mixin pointer-disabled {
  cursor: inherit;
  pointer-events: none;
}

@mixin btn-base {
  @include flex-center(8px);
  background-color: $button-primary-bg;
  width: auto;
  height: 52px;
  color: $button-primary-text;
  padding: 17px 20px;
  border: none;
  cursor: pointer;
}

.container {
  @include btn-base;

  .btn-loader {
    border-color: $button-primary-text;
    border-top-color: transparent;
  }

  &:hover {
    background-color: $button-primary-bg-hover;
  }

  &:active {
    background-color: $button-primary-bg-active;
    border: none;
  }
}

.loading {
  @include pointer-disabled;
}

.disabled {
  @include pointer-disabled;
  background-color: $button-primary-bg-disabled;
}
