.title {
  font-weight: 700;
  font-size: 44px;
  line-height: 109%;
}

.button {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
}

.p-20 {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.p-18 {
  font-size: 18px;
  line-height: 120%;
}

.p-16 {
  font-size: 16px;
  line-height: 19px;
}

.p-14 {
  font-size: 14px;
  line-height: 18px;
}

.normal {
  font-weight: 400;
}

.medium {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.primary {
  color: $text-primary;
}

.secondary {
  color: $text-secondary;
}

.accent {
  color: $text-accent;
}

.brand {
  color: $brand;
}
