@mixin flexColumn($gap: 16px) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin flexRow($gap: 16px) {
  display: flex;
  flex-direction: row;
  gap: $gap;
}

.card {
  @include flexColumn(26px);
  max-width: 360px;
  background-color: $card-bg;
  font-family: "Roboto", sans-serif;

  &:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  }
}

.imageContainer {
  height: 360px;
  background-color: $card-image-bg;
}

.image {
  height: 360px;
  width: 360px;
  object-position: center;
  object-fit: cover;
}

.description {
  @include flexColumn(8px);
}

.content {
  @include flexColumn(20px);
  padding-bottom: 24px;
  padding-inline: 12px;
}

.footer {
  @include flexRow(8px);
  justify-content: space-between;
  align-items: center;
}

.innerContent {
  display: flex;
  align-items: center;
}
