.container {
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  padding: 0 100px;
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userBlock {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 17px;
  flex: 1 1;
}

.links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-inline-start: 80px;
  gap: 16px;
}

.c {
  display: flex;
  background: $button-primary-text;
}

.selected {
  color: $brand;
  font-weight: 600;
}
