@mixin flexCenter {
  display: flex;
  align-items: center;
}

@mixin containerBase {
  @include flexCenter;
  height: 64px;
  width: 100%;
  padding: 0 100px;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  @include containerBase;
}

.logo {
  @include flexCenter;
  gap: 20px;
}

.userBlock {
  @include flexCenter;
  justify-content: flex-end;
  gap: 17px;
  flex: 1 1;
}

.links {
  @include flexCenter;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-inline-start: 80px;
  gap: 16px;

  .selected {
    color: $brand;
    font-weight: 600;
  }
}

.c {
  display: flex;
  background: $button-primary-text;
}
