.container {
  width: 100%;
}

.titleBox {
  display: flex;
  align-items: center;
  gap: 16px;
  max-width: 1270px;
  margin: 0 auto;
  margin-block-start: 49px;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  margin: 0 auto;
  padding: 37px 0 53px;
  gap: 48px;
}

.card {
  flex-direction: row;
  gap: 166px;
  max-width: 448px;
  border-radius: $border-radius;
}

.cardInfo {
  display: flex;
  flex-wrap: wrap;
  margin-block-start: 48px;
  width: 470px;
  justify-content: space-between;
  gap: 50px 100px;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  min-width: 83px;
}

.img {
  width: 448px;
  height: 298px;
  border-radius: $border-radius;
}

.summary {
  padding: 36px 36px 29px;
  border-radius: $border-radius;
  background-color: $brand-active;

  & a {
    text-decoration: underline;
  }
}

.cookingBlock {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.separatorBlock {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.separator {
  height: 100%;
  border-right: 1px solid $brand;
  width: 10px;
}

.dot {
  padding: 0;
  margin: 0;
  margin-left: 7px;
  color: $brand;
}

.ingredientsBlock {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.equipments {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, 24px);
  gap: 10px;
}

.ingredients {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px 29px;
  max-height: 195px;
  width: fit-content;
}

.ingredients {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(6, 24px);
  gap: 10px;
  align-content: start;
}

.ingredient {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 18px;
}

.equipmentBlock {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.directions {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.step {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 740px;
}

.loading {
  display: flex;
  align-items: center;
  height: calc(100vh - 150px);
}

.loader {
  height: 100%;
}